In [1]:
import pandas as pd
import numpy as np

In [2]:
games=pd.read_parquet("games.parquet")
items=pd.read_parquet("items.parquet")
reviews=pd.read_parquet("reviews.parquet")

In [3]:
items

,user_id,items_count,steam_id,item_id,item_name,playtime_forever,playtime_2weeks,items_id
0,76561197970982479,277,76561197970982479,10,Counter-Strike,6.0,0.0,10
1,76561197970982479,277,76561197970982479,20,Team Fortress Classic,0.0,0.0,20
2,76561197970982479,277,76561197970982479,30,Day of Defeat,7.0,0.0,30
3,76561197970982479,277,76561197970982479,40,Deathmatch Classic,0.0,0.0,40
4,76561197970982479,277,76561197970982479,50,Half-Life: Opposing Force,0.0,0.0,50
...,...,...,...,...,...,...,...,...
5153204,76561198329548331,7,76561198329548331,346330,BrainBread 2,0.0,0.0,346330
5153205,76561198329548331,7,76561198329548331,373330,All Is Dust,0.0,0.0,373330
5153206,76561198329548331,7,76561198329548331,388490,One Way To Die: Steam Edition,3.0,3.0,388490
5153207,76561198329548331,7,76561198329548331,521570,You Have 10 Seconds 2,4.0,4.0,521570
5153208,76561198329548331,7,76561198329548331,519140,Minds Eyes,3.0,3.0,519140

In [4]:
items.drop(columns=['steam_id','item_name','playtime_2weeks'], inplace=True)

In [5]:
items.head()

             user_id  items_count  item_id  playtime_forever  items_id
0  76561197970982479          277       10               6.0        10
1  76561197970982479          277       20               0.0        20
2  76561197970982479          277       30               7.0        30
3  76561197970982479          277       40               0.0        40
4  76561197970982479          277       50               0.0        50

In [6]:
games.head()

,app_name,tags,price,item_id,developer,año_lanzamiento,Accounting,Action,Adventure,Animation &amp; Modeling,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,Lost Summoner Kitty,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",4.99,761140,Kotoshiro,2018,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
1,Ironbound,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",0.00,643980,Secret Level SRL,2018,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
2,Real Pool 3D - Poolians,"['Free to Play', 'Simulation', 'Sports', 'Casu...",0.00,670290,Poolians.com,2017,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
3,弹炸人2222,"['Action', 'Adventure', 'Casual']",0.99,767400,彼岸领域,2017,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,Log Challenge,"['Action', 'Indie', 'Casual', 'Sports']",2.99,773570,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32133 entries, 0 to 32132
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   app_name                   32133 non-null  object
 1   tags                       32133 non-null  object
 2   price                      32133 non-null  float64
 3   item_id                    32133 non-null  int64
 4   developer                  32133 non-null  object
 5   año_lanzamiento            32133 non-null  int64
 6   Accounting                 32133 non-null  int64
 7   Action                     32133 non-null  int64
 8   Adventure                  32133 non-null  int64
 9   Animation &amp; Modeling   32133 non-null  int64
 10  Audio Production           32133 non-null  int64
 11  Casual                     32133 non-null  int64
 12  Design &amp; Illustration  32133 non-null  int64
 13  Early Access               32133 non-null  int64
 14  Education                  32133 non-null  int64
 15  Free to Play               32133 non-null  int64
 16  Indie                      32133 non-null  int64
 17  Massively Multiplayer      32133 non-null  int64
 18  Photo Editing              32133 non-null  int64
 19  RPG                        32133 non-null  int64
 20  Racing                     32133 non-null  int64
 21  Simulation                 32133 non-null  int64
 22  Software Training          32133 non-null  int64
 23  Sports                     32133 non-null  int64
 24  Strategy                   32133 non-null  int64
 25  Utilities                  32133 non-null  int64
 26  Video Production           32133 non-null  int64
 27  Web Publishing             32133 non-null  int64
dtypes: float64(1), int64(24), object(3)
memory usage: 6.9+ MB

##Funcion1

In [ ]:
#def developer( desarrollador : str ): Cantidad de items y porcentaje de contenido Free por año según empresa desarrolladora.
#Ejemplo de retorno:
#Año	Cantidad de Items	Contenido Free
#2023	50	27%
#2022	45	25%
#xxxx	xx	xx%

In [14]:
games = games[["item_id", "price","developer","año_lanzamiento"]]

In [15]:

def developer(desarrollador):
    df = games[["item_id", "price","developer","año_lanzamiento"]] #llamo a las columnas que necesito
    df_developer = df[df["developer"] == desarrollador] #llamo al desarrollador

    cant_item = df_developer.groupby("año_lanzamiento")["item_id"].count() #obtengo la cantidad por año 

    Free = df_developer[df_developer["price"] == 0] #juegos gratuitos del desarrollador

    total_free = Free.groupby("año_lanzamiento")["price"].count() #cantidad de gratis por año 

    cont_free_año = round((total_free/cant_item)*100,2) #porcentaje por free por año 

    #asigno nombre a las series
    cant_item.name = "Cantidad de Items"

    cont_free_año.name = "Contenido Free"

    tabla = pd.merge(cant_item, cont_free_año,on="año_lanzamiento").reset_index() #unimos las dos tablas para hacerla unica

    
    tabla = tabla.fillna(0) #reemplazo los nan por 0
    
    tabla["Contenido Free"] = tabla["Contenido Free"].apply(lambda x: f"{x}%")
    
    diccionario = tabla.to_dict(orient="records") #convierto la tabla en diccionario
    
    return diccionario

In [17]:
developer("Valve")

UsageError: Line magic function `%memit` not found.

In [41]:
developer("Valve")

                 Cantidad de Items  Contenido Free
año_lanzamiento
1998                             1             NaN
1999                             1             NaN
2000                             2             NaN
2001                             1             NaN
2003                             1             NaN
2004                             5             NaN
2005                             1          100.00
2006                             2             NaN
2007                             3           33.33
2008                             1             NaN
2009                             1             NaN
2010                             2           50.00
2011                             1             NaN
2012                             2           50.00
2014                             7          100.00
2016                             1          100.00
2017                             2             NaN

#Funcion 2

In [ ]:
#def userdata( User_id : str ): Debe devolver cantidad de dinero gastado por el usuario, el porcentaje de 
#recomendación en base a reviews.recommend y cantidad de items.
#Ejemplo de retorno: {"Usuario X" : us213ndjss09sdf, "Dinero gastado": 200 USD, "% de recomendación": 20%, "cantidad de items": 5}

In [8]:
merged_reviews_games = reviews.merge(games[['item_id', 'price']], on='item_id')

In [9]:
merged_reviews_games.tail()

,user_id,item_id,helpful,recommend,año,sentiment_analysis,price
44734,laislabonita75,367780,16 of 19 people (84%) found this review helpful,True,2015,2,4.99
44735,evilindiegaming,367780,17 of 21 people (81%) found this review helpful,True,2015,2,4.99
44736,laislabonita75,305920,2 of 8 people (25%) found this review helpful,False,2015,0,5.99
44737,Gamer0009,306040,3 of 3 people (100%) found this review helpful,True,2015,2,1.99
44738,llDracuwulf,307130,1 of 5 people (20%) found this review helpful,True,2015,2,4.99

In [10]:
merged_reviews_games.drop(columns=['helpful', 'año',"sentiment_analysis"], inplace=True)

In [11]:
merged_reviews_games.head()

             user_id  item_id  recommend  price
0  76561197970982479     1250       True  19.99
1       death-hunter     1250       True  19.99
2           DJKamBer     1250       True  19.99
3          diego9031     1250       True  19.99
4  76561198081962345     1250       True  19.99

In [77]:
len(merged_reviews_games)

44739

In [12]:
#Dinero gastado por el usuario
Dinero_gastado=merged_reviews_games[merged_reviews_games['user_id'] == "76561198081962345"]['price'].sum()
Dinero_gastado

19.99

In [13]:
#recomendacion en base a reviews.recommend
recomendacion=reviews["recommend"].sum()
porcentaje_recomendacion=recomendacion/len(reviews)*100
porcentaje_recomendacion

89.82637335827268

In [25]:
merged_reviews_games[merged_reviews_games['user_id'] == "death-hunter"]['item_id'].count()

3

In [26]:
#Cantidad de items
items[items["user_id"] == "death-hunter"]["items_count"]

5162    121
5163    121
5164    121
5165    121
5166    121
       ...
5278    121
5279    121
5280    121
5281    121
5282    121
Name: items_count, Length: 121, dtype: int64

In [27]:
def userdata(user_id):
    # Filtrar los datos para el usuario especificado
    user_data = merged_reviews_games[merged_reviews_games['user_id'] == user_id]

    #user_items = items[items['user_id'] == user_id]

    # Calcular la cantidad de dinero gastado por el usuario
    dinero_gastado = user_data['price'].sum()

    # Calcular el porcentaje de recomendación en base a reviews.recommend
    recomendacion = user_data['recommend'].sum()
    porcentaje_recomendacion = recomendacion / len(user_data) * 100

    # Calcular la cantidad de items
    cantidad_de_items = user_data['item_id'].nunique()

    # Crear un diccionario con los resultados
    resultados = {
        'Cantidad de dinero gastado': dinero_gastado,
        'Porcentaje de recomendación': porcentaje_recomendacion,
        'Cantidad de items': cantidad_de_items
    }

    return resultados

In [28]:
userdata("76561198081962345")

{'Cantidad de dinero gastado': 19.99,
 'Porcentaje de recomendación': 100.0,
 'Cantidad de items': 1}

In [83]:
userdata("76561197970982479")

{'Cantidad de dinero gastado': 29.979999999999997,
 'Porcentaje de recomendación': 100.0,
 'Cantidad de items': 277}

In [65]:
#funcion 4
#def best_developer_year( año : int ): Devuelve el top 3 de desarrolladores con juegos MÁS recomendados 
#por usuarios para el año dado. (reviews.recommend = True y comentarios positivos)
#Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [120]:
merged_df = pd.merge(reviews, games, on='item_id')

In [129]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44739 entries, 0 to 44738
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   user_id                    44739 non-null  object
 1   item_id                    44739 non-null  int64
 2   helpful                    44739 non-null  object
 3   recommend                  44739 non-null  bool
 4   año                        44739 non-null  int64
 5   sentiment_analysis         44739 non-null  int64
 6   app_name                   44739 non-null  object
 7   tags                       44739 non-null  object
 8   price                      44739 non-null  float64
 9   developer                  44739 non-null  object
 10  año_lanzamiento            44739 non-null  int64
 11  Accounting                 44739 non-null  int64
 12  Action                     44739 non-null  int64
 13  Adventure                  44739 non-null  int64
 14  Animation &amp; Modeling   44739 non-null  int64
 15  Audio Production           44739 non-null  int64
 16  Casual                     44739 non-null  int64
 17  Design &amp; Illustration  44739 non-null  int64
 18  Early Access               44739 non-null  int64
 19  Education                  44739 non-null  int64
 20  Free to Play               44739 non-null  int64
 21  Indie                      44739 non-null  int64
 22  Massively Multiplayer      44739 non-null  int64
 23  Photo Editing              44739 non-null  int64
 24  RPG                        44739 non-null  int64
 25  Racing                     44739 non-null  int64
 26  Simulation                 44739 non-null  int64
 27  Software Training          44739 non-null  int64
 28  Sports                     44739 non-null  int64
 29  Strategy                   44739 non-null  int64
 30  Utilities                  44739 non-null  int64
 31  Video Production           44739 non-null  int64
 32  Web Publishing             44739 non-null  int64
dtypes: bool(1), float64(1), int64(26), object(5)
memory usage: 11.3+ MB

In [121]:
merged_df.head()

,user_id,item_id,helpful,recommend,año,sentiment_analysis,app_name,tags,price,developer,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,76561197970982479,1250,No ratings yet,True,2011,2,Killing Floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",19.99,Tripwire Interactive,...,0,0,0,0,0,0,0,0,0,0
1,death-hunter,1250,No ratings yet,True,2015,2,Killing Floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",19.99,Tripwire Interactive,...,0,0,0,0,0,0,0,0,0,0
2,DJKamBer,1250,No ratings yet,True,2013,0,Killing Floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",19.99,Tripwire Interactive,...,0,0,0,0,0,0,0,0,0,0
3,diego9031,1250,No ratings yet,True,2015,1,Killing Floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",19.99,Tripwire Interactive,...,0,0,0,0,0,0,0,0,0,0
4,76561198081962345,1250,No ratings yet,True,2014,1,Killing Floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",19.99,Tripwire Interactive,...,0,0,0,0,0,0,0,0,0,0

In [122]:
df_year = merged_df[merged_df['año'] ==2011]
df_year

,user_id,item_id,helpful,recommend,año,sentiment_analysis,app_name,tags,price,developer,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,76561197970982479,1250,No ratings yet,True,2011,2,Killing Floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",19.99,Tripwire Interactive,...,0,0,0,0,0,0,0,0,0,0
57,gftdfc,1250,No ratings yet,True,2011,2,Killing Floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",19.99,Tripwire Interactive,...,0,0,0,0,0,0,0,0,0,0
63,76561198011493875,1250,No ratings yet,True,2011,1,Killing Floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",19.99,Tripwire Interactive,...,0,0,0,0,0,0,0,0,0,0
74,krogdog,1250,No ratings yet,True,2011,2,Killing Floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",19.99,Tripwire Interactive,...,0,0,0,0,0,0,0,0,0,0
96,FuriousTheMonkeyBoy,1250,No ratings yet,True,2011,2,Killing Floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...",19.99,Tripwire Interactive,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44429,76561198029069901,63940,No ratings yet,False,2011,0,Men of War: Vietnam,"['Strategy', 'RTS', 'War', 'Tactical', 'Real T...",7.99,1C Company,...,0,0,0,0,0,0,1,0,0,0
44456,GenSeed,91200,No ratings yet,True,2011,0,Anomaly: Warzone Earth,"['Strategy', 'Indie', 'Tower Defense', 'Action...",9.99,11 bit studios,...,0,0,0,0,0,0,1,0,0,0
44465,burningfeetman,48950,No ratings yet,True,2011,0,Greed Corp,"['Strategy', 'Turn-Based', 'Multiplayer', 'Puz...",9.99,Vanguard Games,...,0,0,0,0,0,0,1,0,0,0
44533,Oxea,73210,1 of 2 people (50%) found this review helpful,True,2011,2,Sengoku,"['Strategy', 'Simulation', 'Grand Strategy', '...",9.99,Paradox Development Studio,...,0,1,0,1,0,0,1,0,0,0
44534,Oxea,25800,No ratings yet,True,2011,2,Europa Universalis III Complete,"['Grand Strategy', 'Strategy', 'Historical', '...",14.99,Paradox Development Studio,...,0,0,0,0,0,0,1,0,0,0

In [127]:

def best_developer_año(año):
    # Cargar el DataFrame de juegos

    # Filtrar los juegos por año
    df_year = merged_df[merged_df['año'] == año]

    # Agrupar los juegos por desarrollador y contar el número de juegos recomendados
    df_count = df_year[df_year['recommend'] == True][df_year['sentiment_analysis'] == 2].groupby('developer')['app_name'].count().reset_index()

    # Ordenar los resultados por número de juegos recomendados y devolver los tres primeros desarrolladores
    top_desarrolladores = df_count.sort_values('app_name', ascending=False).head(3)['developer'].tolist()

    # Devolver el top 3 de desarrolladores
    return {"Puesto 1" : top_desarrolladores[0], "Puesto 2" : top_desarrolladores[1], "Puesto 3" : top_desarrolladores[2]}

In [128]:
best_developer_año(2012)

C:\Users\Vivobook\AppData\Local\Temp\ipykernel_13028\2837514642.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_count = df_year[df_year['recommend'] == True][df_year['sentiment_analysis'] == 2].groupby('developer')['app_name'].count().reset_index()

{'Puesto 1': 'Valve', 'Puesto 2': 'Re-Logic', 'Puesto 3': 'Facepunch Studios'}

In [125]:

def best_developer_year(año: int):
    # Realizar la unión de los DataFrames
    merged_df = pd.merge(reviews, games, on='item_id')

    # Filtrar los juegos por año y por recomendación positiva
    df_year = merged_df[(merged_df['año'] == año) & (merged_df['recommend'] == True) & (merged_df['sentiment_analysis'] == 2)]

    # Contar el número de juegos recomendados por desarrollador y devolver los tres primeros desarrolladores
    top_desarrolladores = df_year['developer'].value_counts().head(3).index.tolist()

    # Crear una lista de diccionarios con el top 3 de desarrolladores
    resultado = [{"Puesto {}: ".format(i+1) + top_desarrolladores[i]} for i in range(len(top_desarrolladores))]

    # Devolver el top 3 de desarrolladores
    return resultado

In [126]:
best_developer_year(2012)

[{'Puesto 1: Valve'}, {'Puesto 2: Re-Logic'}, {'Puesto 3: Facepunch Studios'}]

In [ ]:

resultado = []
for i, desarrollador in enumerate(top_desarrolladores):
    puesto = "Puesto {}: ".format(i+1)
    resultado.append({puesto + desarrollador})

In [ ]:

#@app.get("/developer/{año}")
#async def get_developer(año: int):
 #   top = best_developer_year(año)

    #Devolver el resultado
  #  return f"top_desarrolladore= 1 : {top[0]}, top_desarrollador 2 : {top[1]}, top_desarrollador 3 : {top[2]}"

In [ ]:
#funcion 3
#def UserForGenre( genero : str ): Debe devolver el usuario que acumula más horas jugadas para el género 
#dado y una lista de la acumulación de horas jugadas por año de lanzamiento.
#Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf,
# "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}

In [75]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32133 entries, 0 to 32132
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   app_name                   32133 non-null  object
 1   tags                       32133 non-null  object
 2   price                      32133 non-null  float64
 3   item_id                    32133 non-null  int64
 4   developer                  32133 non-null  object
 5   año_lanzamiento            32133 non-null  int64
 6   Accounting                 32133 non-null  int64
 7   Action                     32133 non-null  int64
 8   Adventure                  32133 non-null  int64
 9   Animation &amp; Modeling   32133 non-null  int64
 10  Audio Production           32133 non-null  int64
 11  Casual                     32133 non-null  int64
 12  Design &amp; Illustration  32133 non-null  int64
 13  Early Access               32133 non-null  int64
 14  Education                  32133 non-null  int64
 15  Free to Play               32133 non-null  int64
 16  Indie                      32133 non-null  int64
 17  Massively Multiplayer      32133 non-null  int64
 18  Photo Editing              32133 non-null  int64
 19  RPG                        32133 non-null  int64
 20  Racing                     32133 non-null  int64
 21  Simulation                 32133 non-null  int64
 22  Software Training          32133 non-null  int64
 23  Sports                     32133 non-null  int64
 24  Strategy                   32133 non-null  int64
 25  Utilities                  32133 non-null  int64
 26  Video Production           32133 non-null  int64
 27  Web Publishing             32133 non-null  int64
dtypes: float64(1), int64(24), object(3)
memory usage: 6.9+ MB

In [92]:
items

,user_id,items_count,steam_id,item_id,item_name,playtime_forever,playtime_2weeks,items_id
0,76561197970982479,277,76561197970982479,10,Counter-Strike,6.0,0.0,10
1,76561197970982479,277,76561197970982479,20,Team Fortress Classic,0.0,0.0,20
2,76561197970982479,277,76561197970982479,30,Day of Defeat,7.0,0.0,30
3,76561197970982479,277,76561197970982479,40,Deathmatch Classic,0.0,0.0,40
4,76561197970982479,277,76561197970982479,50,Half-Life: Opposing Force,0.0,0.0,50
...,...,...,...,...,...,...,...,...
5153204,76561198329548331,7,76561198329548331,346330,BrainBread 2,0.0,0.0,346330
5153205,76561198329548331,7,76561198329548331,373330,All Is Dust,0.0,0.0,373330
5153206,76561198329548331,7,76561198329548331,388490,One Way To Die: Steam Edition,3.0,3.0,388490
5153207,76561198329548331,7,76561198329548331,521570,You Have 10 Seconds 2,4.0,4.0,521570
5153208,76561198329548331,7,76561198329548331,519140,Minds Eyes,3.0,3.0,519140

In [93]:
merged_items_games=pd.merge(games,items,on="item_id")

In [94]:
merged_items_games

,app_name,tags,price,item_id,developer,año_lanzamiento,Accounting,Action,Adventure,Animation &amp; Modeling,...,Utilities,Video Production,Web Publishing,user_id,items_count,steam_id,item_name,playtime_forever,playtime_2weeks,items_id
0,Carmageddon Max Pack,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",9.99,282010,Stainless Games Ltd,1997,0,1,0,0,...,0,0,0,UTNerd24,188,76561198053985682,Carmageddon Max Pack,5.0,0.0,282010
1,Carmageddon Max Pack,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",9.99,282010,Stainless Games Ltd,1997,0,1,0,0,...,0,0,0,I_DID_911_JUST_SAYING,154,76561198067520555,Carmageddon Max Pack,0.0,0.0,282010
2,Carmageddon Max Pack,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",9.99,282010,Stainless Games Ltd,1997,0,1,0,0,...,0,0,0,76561197962104795,79,76561197962104795,Carmageddon Max Pack,0.0,0.0,282010
3,Carmageddon Max Pack,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",9.99,282010,Stainless Games Ltd,1997,0,1,0,0,...,0,0,0,r3ap3r78,331,76561198011684252,Carmageddon Max Pack,0.0,0.0,282010
4,Carmageddon Max Pack,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",9.99,282010,Stainless Games Ltd,1997,0,1,0,0,...,0,0,0,saint556,583,76561198072532181,Carmageddon Max Pack,13.0,0.0,282010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4294252,Counter-Strike: Condition Zero,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",9.99,80,Valve,2004,0,1,0,0,...,0,0,0,76561198273508956,15,76561198273508956,Counter-Strike: Condition Zero,0.0,0.0,80
4294253,Counter-Strike: Condition Zero,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",9.99,80,Valve,2004,0,1,0,0,...,0,0,0,76561198282090798,5,76561198282090798,Counter-Strike: Condition Zero,0.0,0.0,80
4294254,Counter-Strike: Condition Zero,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",9.99,80,Valve,2004,0,1,0,0,...,0,0,0,943525,58,76561198283103833,Counter-Strike: Condition Zero,0.0,0.0,80
4294255,Counter-Strike: Condition Zero,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",9.99,80,Valve,2004,0,1,0,0,...,0,0,0,76561198283312749,49,76561198283312749,Counter-Strike: Condition Zero,9.0,0.0,80
4294256,Counter-Strike: Condition Zero,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",9.99,80,Valve,2004,0,1,0,0,...,0,0,0,76561198312638244,36,76561198312638244,Counter-Strike: Condition Zero,99.0,0.0,80

In [79]:
var=merged_items_games.drop(columns=["app_name","price","developer","items_count"])

In [85]:
var.isnull().sum()

tags                         0
item_id                      0
año_lanzamiento              0
Accounting                   0
Action                       0
Adventure                    0
Animation &amp; Modeling     0
Audio Production             0
Casual                       0
Design &amp; Illustration    0
Early Access                 0
Education                    0
Free to Play                 0
Indie                        0
Massively Multiplayer        0
Photo Editing                0
RPG                          0
Racing                       0
Simulation                   0
Software Training            0
Sports                       0
Strategy                     0
Utilities                    0
Video Production             0
Web Publishing               0
user_id                      0
playtime_forever             0
items_id                     0
dtype: int64

In [95]:
var.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4294257 entries, 0 to 4294256
Data columns (total 28 columns):
 #   Column                     Dtype
---  ------                     -----
 0   tags                       object
 1   item_id                    int64
 2   año_lanzamiento            int64
 3   Accounting                 int64
 4   Action                     int64
 5   Adventure                  int64
 6   Animation &amp; Modeling   int64
 7   Audio Production           int64
 8   Casual                     int64
 9   Design &amp; Illustration  int64
 10  Early Access               int64
 11  Education                  int64
 12  Free to Play               int64
 13  Indie                      int64
 14  Massively Multiplayer      int64
 15  Photo Editing              int64
 16  RPG                        int64
 17  Racing                     int64
 18  Simulation                 int64
 19  Software Training          int64
 20  Sports                     int64
 21  Strategy                   int64
 22  Utilities                  int64
 23  Video Production           int64
 24  Web Publishing             int64
 25  user_id                    object
 26  playtime_forever           float64
 27  items_id                   int64
dtypes: float64(1), int64(25), object(2)
memory usage: 950.1+ MB

In [97]:
merged_items_games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4294257 entries, 0 to 4294256
Data columns (total 35 columns):
 #   Column                     Dtype
---  ------                     -----
 0   app_name                   object
 1   tags                       object
 2   price                      float64
 3   item_id                    int64
 4   developer                  object
 5   año_lanzamiento            int64
 6   Accounting                 int64
 7   Action                     int64
 8   Adventure                  int64
 9   Animation &amp; Modeling   int64
 10  Audio Production           int64
 11  Casual                     int64
 12  Design &amp; Illustration  int64
 13  Early Access               int64
 14  Education                  int64
 15  Free to Play               int64
 16  Indie                      int64
 17  Massively Multiplayer      int64
 18  Photo Editing              int64
 19  RPG                        int64
 20  Racing                     int64
 21  Simulation                 int64
 22  Software Training          int64
 23  Sports                     int64
 24  Strategy                   int64
 25  Utilities                  int64
 26  Video Production           int64
 27  Web Publishing             int64
 28  user_id                    object
 29  items_count                int64
 30  steam_id                   int64
 31  item_name                  object
 32  playtime_forever           float64
 33  playtime_2weeks            float64
 34  items_id                   int64
dtypes: float64(3), int64(27), object(5)
memory usage: 1.2+ GB

In [ ]:
df_genre = var[var["Action"] == 1]
df_genre

In [14]:
usur_mas_horas = df_genre.groupby("user_id")["playtime_forever"].sum().idxmax()

In [106]:
usur_mas_horas

'Sp3ctre'

In [108]:
 filtro_usur = df_genre[df_genre["user_id"] == usur_mas_horas]

In [109]:
horas_jugXaño = filtro_usur.groupby("año_lanzamiento")["playtime_forever"].sum()

In [110]:
horas_jugXaño

año_lanzamiento
0         1657.0
1993         0.0
1995       217.0
1996         0.0
1998         0.0
1999        44.0
2000     70644.0
2001        13.0
2002       238.0
2003      7673.0
2004    127411.0
2005     21339.0
2006       896.0
2007    112784.0
2008       224.0
2009    108326.0
2010     78083.0
2011    154896.0
2012    378296.0
2013    120461.0
2014    130691.0
2015    312511.0
2016     29576.0
2017     43327.0
Name: playtime_forever, dtype: float64

In [111]:
registro = horas_jugXaño.to_dict()

In [112]:
registro

{0: 1657.0,
 1993: 0.0,
 1995: 217.0,
 1996: 0.0,
 1998: 0.0,
 1999: 44.0,
 2000: 70644.0,
 2001: 13.0,
 2002: 238.0,
 2003: 7673.0,
 2004: 127411.0,
 2005: 21339.0,
 2006: 896.0,
 2007: 112784.0,
 2008: 224.0,
 2009: 108326.0,
 2010: 78083.0,
 2011: 154896.0,
 2012: 378296.0,
 2013: 120461.0,
 2014: 130691.0,
 2015: 312511.0,
 2016: 29576.0,
 2017: 43327.0}

In [113]:

def UserForGenre(genero):
    df_genre = merged_items_games[merged_items_games[genero] == 1] #llamo el genero

    usur_mas_horas = df_genre.groupby("user_id")["playtime_forever"].sum().idxmax() #usuario con más horas de juego en el genero

    filtro_usur = df_genre[df_genre["user_id"] == usur_mas_horas] #filtramos por el usuario con mas horas jugadas

    horas_jugXaño = filtro_usur.groupby("año_lanzamiento")["playtime_forever"].sum() #horas jugadas por año 

    registro = horas_jugXaño.to_dict() #paso las horas por año en diccionario

    Horas_por_año = {}  #creo un diccionario vacio para guardar registros 
    for clave, valor in registro.items(): #un for para que vaya iterando por cada item
        clave_formateada = f'Año: {int(clave)}' #formateo para que me salga con año
        valor_formateado = f'Horas: {int(valor)}' #formateo para que me salga con horas
        Horas_por_año[clave_formateada] = valor_formateado 

    return f"Usuario con más horas jugadas para Género {genero} : ,{usur_mas_horas} Horas jugadas:{Horas_por_año}"


    """Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : ,us213ndjss09sdf "Horas jugadas":[{Año: 2013, Horas: 203},
{Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}"""

In [105]:
merged_items_games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4294257 entries, 0 to 4294256
Data columns (total 35 columns):
 #   Column                     Dtype
---  ------                     -----
 0   app_name                   object
 1   tags                       object
 2   price                      float64
 3   item_id                    int64
 4   developer                  object
 5   año_lanzamiento            int64
 6   Accounting                 int64
 7   Action                     int64
 8   Adventure                  int64
 9   Animation &amp; Modeling   int64
 10  Audio Production           int64
 11  Casual                     int64
 12  Design &amp; Illustration  int64
 13  Early Access               int64
 14  Education                  int64
 15  Free to Play               int64
 16  Indie                      int64
 17  Massively Multiplayer      int64
 18  Photo Editing              int64
 19  RPG                        int64
 20  Racing                     int64
 21  Simulation                 int64
 22  Software Training          int64
 23  Sports                     int64
 24  Strategy                   int64
 25  Utilities                  int64
 26  Video Production           int64
 27  Web Publishing             int64
 28  user_id                    object
 29  items_count                int64
 30  steam_id                   int64
 31  item_name                  object
 32  playtime_forever           float64
 33  playtime_2weeks            float64
 34  items_id                   int64
dtypes: float64(3), int64(27), object(5)
memory usage: 1.2+ GB

In [114]:
UserForGenre("Action")

"Usuario con más horas jugadas para Género Action : ,Sp3ctre Horas jugadas:{'Año: 0': 'Horas: 1657', 'Año: 1993': 'Horas: 0', 'Año: 1995': 'Horas: 217', 'Año: 1996': 'Horas: 0', 'Año: 1998': 'Horas: 0', 'Año: 1999': 'Horas: 44', 'Año: 2000': 'Horas: 70644', 'Año: 2001': 'Horas: 13', 'Año: 2002': 'Horas: 238', 'Año: 2003': 'Horas: 7673', 'Año: 2004': 'Horas: 127411', 'Año: 2005': 'Horas: 21339', 'Año: 2006': 'Horas: 896', 'Año: 2007': 'Horas: 112784', 'Año: 2008': 'Horas: 224', 'Año: 2009': 'Horas: 108326', 'Año: 2010': 'Horas: 78083', 'Año: 2011': 'Horas: 154896', 'Año: 2012': 'Horas: 378296', 'Año: 2013': 'Horas: 120461', 'Año: 2014': 'Horas: 130691', 'Año: 2015': 'Horas: 312511', 'Año: 2016': 'Horas: 29576', 'Año: 2017': 'Horas: 43327'}"

In [118]:
def UserForGenre(genero):
    if not genero in var.columns:
        return f"El género {genero} no existe en la base de datos."

    df_genre = merged_items_games[merged_items_games[genero] == 1]

    usur_mas_horas = df_genre.groupby("user_id")["playtime_forever"].sum().idxmax()

    filtro_usur = df_genre[df_genre["user_id"] == usur_mas_horas]

    horas_jugXaño = filtro_usur.groupby("año_lanzamiento")["playtime_forever"].sum()

    registro = horas_jugXaño.to_dict()

    Horas_por_año = {}
    for clave, valor in registro.items():
        clave_formateada = f'Año: {int(clave)}'
        valor_formateado = int(valor)
        Horas_por_año[clave_formateada] = valor_formateado

    return {"Usuario con más horas jugadas": usur_mas_horas, "Horas jugadas por año": Horas_por_año}

In [119]:
merged_items_games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4294257 entries, 0 to 4294256
Data columns (total 35 columns):
 #   Column                     Dtype
---  ------                     -----
 0   app_name                   object
 1   tags                       object
 2   price                      float64
 3   item_id                    int64
 4   developer                  object
 5   año_lanzamiento            int64
 6   Accounting                 int64
 7   Action                     int64
 8   Adventure                  int64
 9   Animation &amp; Modeling   int64
 10  Audio Production           int64
 11  Casual                     int64
 12  Design &amp; Illustration  int64
 13  Early Access               int64
 14  Education                  int64
 15  Free to Play               int64
 16  Indie                      int64
 17  Massively Multiplayer      int64
 18  Photo Editing              int64
 19  RPG                        int64
 20  Racing                     int64
 21  Simulation                 int64
 22  Software Training          int64
 23  Sports                     int64
 24  Strategy                   int64
 25  Utilities                  int64
 26  Video Production           int64
 27  Web Publishing             int64
 28  user_id                    object
 29  items_count                int64
 30  steam_id                   int64
 31  item_name                  object
 32  playtime_forever           float64
 33  playtime_2weeks            float64
 34  items_id                   int64
dtypes: float64(3), int64(27), object(5)
memory usage: 1.2+ GB

In [117]:
UserForGenre("Casual")

{'Usuario con más horas jugadas': 'REBAS_AS_F-T',
 'Horas jugadas por año': {'Año: 1999': 0,
  'Año: 2002': 0,
  'Año: 2004': 6985,
  'Año: 2007': 0,
  'Año: 2008': 1241,
  'Año: 2009': 2870,
  'Año: 2010': 12066,
  'Año: 2011': 81201,
  'Año: 2012': 29722,
  'Año: 2013': 107965,
  'Año: 2014': 122364,
  'Año: 2015': 362201,
  'Año: 2016': 498260,
  'Año: 2017': 58}}

In [18]:
var.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4294257 entries, 0 to 4294256
Data columns (total 28 columns):
 #   Column                     Dtype
---  ------                     -----
 0   tags                       object
 1   item_id                    int64
 2   año_lanzamiento            int64
 3   Accounting                 int64
 4   Action                     int64
 5   Adventure                  int64
 6   Animation &amp; Modeling   int64
 7   Audio Production           int64
 8   Casual                     int64
 9   Design &amp; Illustration  int64
 10  Early Access               int64
 11  Education                  int64
 12  Free to Play               int64
 13  Indie                      int64
 14  Massively Multiplayer      int64
 15  Photo Editing              int64
 16  RPG                        int64
 17  Racing                     int64
 18  Simulation                 int64
 19  Software Training          int64
 20  Sports                     int64
 21  Strategy                   int64
 22  Utilities                  int64
 23  Video Production           int64
 24  Web Publishing             int64
 25  user_id                    object
 26  playtime_forever           float64
 27  items_id                   int64
dtypes: float64(1), int64(25), object(2)
memory usage: 950.1+ MB

##funcion 5

In [ ]:
'''Devuelve un diccionario con el nombre del desarrollador como llave y una lista con la cantidad total de 
    reseñas positivas y negativas de usuarios

    Ejemplo de retorno: {'Valve' : [Negative = 182, Positive = 278]}

In [61]:
merged = reviews.merge(games[['item_id', 'price',"developer"]], on='item_id')

In [62]:
merged

,user_id,item_id,helpful,recommend,año,sentiment_analysis,price,developer
0,76561197970982479,1250,No ratings yet,True,2011,2,19.99,Tripwire Interactive
1,death-hunter,1250,No ratings yet,True,2015,2,19.99,Tripwire Interactive
2,DJKamBer,1250,No ratings yet,True,2013,0,19.99,Tripwire Interactive
3,diego9031,1250,No ratings yet,True,2015,1,19.99,Tripwire Interactive
4,76561198081962345,1250,No ratings yet,True,2014,1,19.99,Tripwire Interactive
...,...,...,...,...,...,...,...,...
44734,laislabonita75,367780,16 of 19 people (84%) found this review helpful,True,2015,2,4.99,"Soloweb Studios,Ravens Eye Studio"
44735,evilindiegaming,367780,17 of 21 people (81%) found this review helpful,True,2015,2,4.99,"Soloweb Studios,Ravens Eye Studio"
44736,laislabonita75,305920,2 of 8 people (25%) found this review helpful,False,2015,0,5.99,ShaunJS
44737,Gamer0009,306040,3 of 3 people (100%) found this review helpful,True,2015,2,1.99,"Antanas Marcelionis,Renė Petrulienė"
44738,llDracuwulf,307130,1 of 5 people (20%) found this review helpful,True,2015,2,4.99,Legend Studio

In [69]:
def developer_reviews_analysis(desarrolladora:str):
    
    df = merged[['user_id', 'item_id','developer','año','sentiment_analysis']] # Se filtran las columnas a utilizar y se eliminan duplicados


    df_merged = df[df["developer"] == desarrolladora] # Se filtran los datos por desarrolladora

    
    positive_reviews = df_merged[df_merged["sentiment_analysis"] == 2].shape[0] # Se obtienen la cantidad de reviews positivas y negativas
    negative_reviews = df_merged[df_merged["sentiment_analysis"] == 0].shape[0]


    resumen_reviews = f"[Negative = {negative_reviews}, Positive = {positive_reviews}]" # Se crea un string con el resumen de las reviews

    dicc = {desarrolladora : resumen_reviews} # Se crea un diccionario con los resultados obtenidos

    # Se devuelve un diccionario con los resultados obtenidos
    return dicc

In [70]:
developer_reviews_analysis("Valve")

{'Valve': '[Negative = 947, Positive = 5505]'}

In [64]:
merged

,user_id,item_id,helpful,recommend,año,sentiment_analysis,price,developer
0,76561197970982479,1250,No ratings yet,True,2011,2,19.99,Tripwire Interactive
1,death-hunter,1250,No ratings yet,True,2015,2,19.99,Tripwire Interactive
2,DJKamBer,1250,No ratings yet,True,2013,0,19.99,Tripwire Interactive
3,diego9031,1250,No ratings yet,True,2015,1,19.99,Tripwire Interactive
4,76561198081962345,1250,No ratings yet,True,2014,1,19.99,Tripwire Interactive
...,...,...,...,...,...,...,...,...
44734,laislabonita75,367780,16 of 19 people (84%) found this review helpful,True,2015,2,4.99,"Soloweb Studios,Ravens Eye Studio"
44735,evilindiegaming,367780,17 of 21 people (81%) found this review helpful,True,2015,2,4.99,"Soloweb Studios,Ravens Eye Studio"
44736,laislabonita75,305920,2 of 8 people (25%) found this review helpful,False,2015,0,5.99,ShaunJS
44737,Gamer0009,306040,3 of 3 people (100%) found this review helpful,True,2015,2,1.99,"Antanas Marcelionis,Renė Petrulienė"
44738,llDracuwulf,307130,1 of 5 people (20%) found this review helpful,True,2015,2,4.99,Legend Studio