In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter
import seaborn as sns
import warnings
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import train_test_split
import pyarrow.parquet as pq
from surprise import SVD
from surprise import accuracy
import pickle

In [29]:
games=pd.read_parquet("games.parquet")
#items=pd.read_parquet("items.parquet")
reviews=pd.read_parquet("reviews.parquet")

In [30]:
merged_df = pd.merge(reviews[['item_id', 'user_id', 'sentiment_analysis',"recommend"]], games[['app_name',"item_id"]], left_on='item_id', right_on="item_id")

In [31]:
merged_df.shape

(44739, 5)

In [32]:
merged_df['recommend'] = merged_df['recommend'].replace({True: 1, False: 0})

In [78]:
for index, row in merged_df.iterrows():
    if (row[2] == 2) and (row[3] == 1):
        merged_df.at[index, 'rating'] = 5
    elif (row[2] == 2) and (row[3] == 0):
        merged_df.at[index, 'rating'] = 4
    elif (row[2] == 1) and (row[3] == 1):
        merged_df.at[index, 'rating'] = 3
    elif (row[2] == 1) and (row[3] == 0):
        merged_df.at[index, 'rating'] = 2
    elif (row[2] == 0) and (row[3] == 1):
        merged_df.at[index, 'rating'] = 1
    elif (row[2] == 0) and (row[3] == 0):
        merged_df.at[index, 'rating'] = 0

C:\Users\Vivobook\AppData\Local\Temp\ipykernel_12160\41572838.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if (row[2] == 2) and (row[3] == 1):
C:\Users\Vivobook\AppData\Local\Temp\ipykernel_12160\41572838.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif (row[2] == 2) and (row[3] == 0):
C:\Users\Vivobook\AppData\Local\Temp\ipykernel_12160\41572838.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif (row[2] == 1) and (row[3] == 1):
C:\Users\Vivobook\AppData\Local\Temp\ipykernel_12160\41572838.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif (row[2] == 1) and (row[3] == 0):
C:\Users\Vivobook\AppData\Local\Temp\ipykernel_12160\41572838.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif (row[2] == 0) and (row[3] == 1):
C:\Users\Vivobook\AppData\Local\Temp\ipykernel_12160\41572838.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif (row[2] == 0) and (row[3] == 0):

In [34]:
merged_df

,item_id,user_id,sentiment_analysis,recommend,app_name,rating
0,1250,76561197970982479,2,1,Killing Floor,5.0
1,1250,death-hunter,2,1,Killing Floor,5.0
2,1250,DJKamBer,0,1,Killing Floor,1.0
3,1250,diego9031,1,1,Killing Floor,3.0
4,1250,76561198081962345,1,1,Killing Floor,3.0
...,...,...,...,...,...,...
44734,367780,laislabonita75,2,1,Aero's Quest,5.0
44735,367780,evilindiegaming,2,1,Aero's Quest,5.0
44736,305920,laislabonita75,0,0,Another Perspective,0.0
44737,306040,Gamer0009,2,1,The Howler,5.0
44738,307130,llDracuwulf,2,1,Asteria,5.0

In [35]:
merged_df.to_parquet('modelo.parquet')

c:\Users\Vivobook\miniconda3\envs\datascience\Lib\site-packages\pyarrow\pandas_compat.py:373: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):

In [36]:
# Leer el archivo .parquet y cargarlo en un DataFrame de pandas
new_df = pd.read_parquet('modelo.parquet')

In [11]:
new_df

,item_id,user_id,sentiment_analysis,recommend,app_name,rating
0,1250,76561197970982479,2,1,Killing Floor,5.0
1,1250,death-hunter,2,1,Killing Floor,5.0
2,1250,DJKamBer,0,1,Killing Floor,1.0
3,1250,diego9031,1,1,Killing Floor,3.0
4,1250,76561198081962345,1,1,Killing Floor,3.0
...,...,...,...,...,...,...
44734,367780,laislabonita75,2,1,Aero's Quest,5.0
44735,367780,evilindiegaming,2,1,Aero's Quest,5.0
44736,305920,laislabonita75,0,0,Another Perspective,0.0
44737,306040,Gamer0009,2,1,The Howler,5.0
44738,307130,llDracuwulf,2,1,Asteria,5.0

In [13]:
reader = Reader(rating_scale=(0, 5))  # Adaptar rating_scale a tus datos

In [14]:
data = Dataset.load_from_df(new_df[['user_id', 'item_id', 'rating']], reader)

In [15]:
#Dividir el conjunto de datos en entrenamiento y prueba
trainset, testset = train_test_split(data, test_size=0.2)  # Puedes ajustar el tamaÃ±o de prueba

In [16]:
#optimizacion de hiperparametros 
from surprise.model_selection import cross_validate

rmse_test_means = []
factores = [1,2,4,8,16,32,64,128,256]

for factor in factores:
    print(factor)
    model = SVD(n_factors=factor)
    cv = cross_validate(model, data, measures=['RMSE'], cv = 3, verbose=True)
    rmse_test_means.append(np.mean(cv['test_rmse']))

1
Evaluating RMSE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.5604  1.5550  1.5503  1.5552  0.0041
Fit time          0.19    0.18    0.20    0.19    0.01
Test time         0.08    0.07    0.12    0.09    0.02
2
Evaluating RMSE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.5570  1.5542  1.5546  1.5553  0.0012
Fit time          0.18    0.18    0.22    0.19    0.02
Test time         0.09    0.07    0.08    0.08    0.01
4
Evaluating RMSE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.5481  1.5656  1.5589  1.5575  0.0072
Fit time          0.27    0.19    0.22    0.23    0.03
Test time         0.22    0.10    0.17    0.16    0.05
8
Evaluating RMSE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.5644  1.5488  1.5622  1.5585  0.0069
Fit time          0.21    0.20    0.23    0.21    0.01
Test time         0.09    0.17    0.08    0.11    0.04
16
Evaluating RMSE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.5637  1.5561  1.5581  1.5593  0.0032
Fit time          0.23    0.23    0.31    0.26    0.04
Test time         0.09    0.08    0.10    0.09    0.01
32
Evaluating RMSE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.5642  1.5610  1.5590  1.5614  0.0022
Fit time          0.36    0.31    0.38    0.35    0.03
Test time         0.10    0.12    0.08    0.10    0.01
64
Evaluating RMSE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.5572  1.5654  1.5589  1.5605  0.0036
Fit time          0.45    0.44    0.42    0.44    0.01
Test time         0.09    0.10    0.08    0.09    0.01
128
Evaluating RMSE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.5520  1.5612  1.5711  1.5614  0.0078
Fit time          0.75    0.67    0.60    0.67    0.06
Test time         0.08    0.12    0.09    0.10    0.02
256
Evaluating RMSE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.5560  1.5701  1.5548  1.5603  0.0070
Fit time          0.99    0.91    0.90    0.93    0.04
Test time         0.09    0.08    0.09    0.09    0.01

In [17]:
from surprise.model_selection import GridSearchCV

param_grid = {'n_factors': [5,50,100],'n_epochs': [5, 10,20], 'lr_all': [0.001, 0.002, 0.005],
              'reg_all': [0.002, 0.02, 0.2]}
gs = GridSearchCV(SVD, param_grid, measures=['rmse'], cv=3, n_jobs = -1)
gs.fit(data)

In [18]:
print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

1.5524090410729185
{'n_factors': 50, 'n_epochs': 20, 'lr_all': 0.005, 'reg_all': 0.2}

In [19]:
best_model=gs.best_params

In [20]:
#Seleccionar un algoritmo (por ejemplo, SVD) y entrenar el modelo
model = SVD(n_factors=100, n_epochs=20, lr_all=0.005, reg_all=0.2)
model.fit(trainset)

In [22]:
with open('modelo.pkl', 'wb') as archivo:
    pickle.dump(model, archivo)

In [23]:
with open ('modelo.pkl', 'rb') as archivo:
    modelo = pickle.load(archivo)

In [91]:
print(modelo)

<surprise.prediction_algorithms.matrix_factorization.SVD object at 0x0000021A815422D0>

In [99]:
def recomendacion_usuario( id_usuario ):
    #ID del usuario para el cual quieres obtener recomendaciones
    usuario_especifico = id_usuario  # Reemplaza 'js41637' con el ID del usuario para el que quieres las recomendaciones

    #Crear una lista de juegos ya valorados por el usuario especÃ­fico
    juegos_valorados = merged_df[merged_df['user_id'] == usuario_especifico]['app_name'].unique()

    #Crear una lista de todos los juegos disponibles
    todos_los_juegos = merged_df['app_name'].unique()

    #Crear una lista de juegos no valorados por el usuario especÃ­fico
    juegos_no_valorados = list(set(todos_los_juegos) - set(juegos_valorados))

    #Generar predicciones para los juegos no valorados por el usuario
    predicciones = [model.predict(usuario_especifico, juego) for juego in juegos_no_valorados]

    #Ordenar las predicciones en base a la valoraciÃ³n y obtener los juegos recomendados
    recomendaciones = sorted(predicciones, key=lambda x: x.est, reverse=True)[:5]  # Obtener las 5 mejores recomendaciones

    #Mostrar los juegos recomendados
   
    lista=list()
    for recomendacion in recomendaciones:
        lista.append(recomendacion.iid)
    return { 'Juego1': {lista[0]}, 'Juego2': {lista[1]}, 'Juego3': {lista[2]}, 'Juego4': {lista[3]}, 'Juego5': {lista[4]}}

In [100]:
recomendacion_usuario('death-hunter')

{'Juego1': {'Thiefâ„¢ Gold'},
 'Juego2': {'The Dream Machine: Chapter 1 & 2'},
 'Juego3': {'Heroes of Might & Magic V'},
 'Juego4': {'S.T.A.L.K.E.R.: Shadow of Chernobyl'},
 'Juego5': {'Splice'}}

In [101]:
reviews

,user_id,item_id,helpful,recommend,aÃ±o,sentiment_analysis
0,76561197970982479,1250,No ratings yet,True,2011,2
1,76561197970982479,22200,No ratings yet,True,2011,2
2,76561197970982479,43110,No ratings yet,True,2011,2
3,js41637,251610,15 of 20 people (75%) found this review helpful,True,2014,2
4,js41637,227300,0 of 1 people (0%) found this review helpful,True,2013,2
...,...,...,...,...,...,...
49181,wayfeng,730,1 of 1 people (100%) found this review helpful,True,2015,1
49182,76561198251004808,253980,No ratings yet,True,2015,2
49183,72947282842,730,No ratings yet,True,2015,0
49184,ApxLGhost,730,No ratings yet,True,2015,2
49185,76561198267374962,369200,1 of 2 people (50%) found this review helpful,True,2015,2